[bumpversion]
commit = True
tag = True
message = build: Version {new_version}
current_version = 16.2.2

[bumpversion:file:CHANGELOG.rst]
search = Unreleased
replace = Version {new_version} ({now:%Y-%m-%d})

[bumpversion:file:tutorcustom/__about__.py]
